* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: #7159c1;
 color: #fff;
 font-family: Arial, Helvetica, sans-serif;
}

body, input, button {
 font-size: 12px;
 /* font-family: ; */
}

button {
 cursor: pointer;
}

.content__form {
    width: 70%;
    margin: 20px;
    
    border: solid 1px #e6d521;
}

.networkSelect {
 background-color: #333;
 color: #fff;
  padding: 20px;
}